@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 84% 4.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 222.2 84% 4.9%;
  --sidebar-primary: 222.2 47.4% 11.2%;
  --sidebar-primary-foreground: 210 40% 98%;
  --sidebar-accent: 210 40% 96%;
  --sidebar-accent-foreground: 222.2 84% 4.9%;
  --sidebar-border: 214.3 31.8% 91.4%;
  --sidebar-ring: 222.2 84% 4.9%;
  --gray-50: 0 0% 98%;
  --gray-100: 0 0% 96%;
  --gray-200: 0 0% 89%;
  --gray-300: 0 0% 83%;
  --gray-400: 0 0% 64%;
  --gray-500: 0 0% 45%;
  --gray-600: 0 0% 32%;
  --gray-700: 0 0% 25%;
  --gray-800: 0 0% 15%;
  --gray-900: 0 0% 9%;
  --gray-950: 0 0% 4%;
  --slate-50: 248 100% 98%;
  --slate-100: 248 100% 96%;
  --slate-200: 248 100% 89%;
  --slate-300: 248 100% 83%;
  --slate-400: 248 100% 64%;
  --slate-500: 248 100% 45%;
  --slate-600: 248 100% 32%;
  --slate-700: 248 100% 25%;
  --slate-800: 248 100% 15%;
  --slate-900: 248 100% 9%;
  --slate-950: 248 100% 4%;
  --blue-50: 213 100% 96%;
  --blue-100: 213 100% 93%;
  --blue-200: 213 100% 87%;
  --blue-300: 213 100% 80%;
  --blue-400: 213 100% 69%;
  --blue-500: 213 100% 60%;
  --blue-600: 213 100% 50%;
  --blue-700: 213 100% 40%;
  --blue-800: 213 100% 30%;
  --blue-900: 213 100% 20%;
  --blue-950: 213 100% 10%;
  --green-50: 138 76% 97%;
  --green-100: 138 76% 93%;
  --green-200: 138 76% 87%;
  --green-300: 138 76% 80%;
  --green-400: 138 76% 69%;
  --green-500: 138 76% 60%;
  --green-600: 138 76% 50%;
  --green-700: 138 76% 40%;
  --green-800: 138 76% 30%;
  --green-900: 138 76% 20%;
  --green-950: 138 76% 10%;
  --red-50: 0 86% 97%;
  --red-100: 0 86% 93%;
  --red-200: 0 86% 87%;
  --red-300: 0 86% 80%;
  --red-400: 0 86% 69%;
  --red-500: 0 86% 60%;
  --red-600: 0 86% 50%;
  --red-700: 0 86% 40%;
  --red-800: 0 86% 30%;
  --red-900: 0 86% 20%;
  --red-950: 0 86% 10%;
  --orange-50: 33 100% 97%;
  --orange-100: 33 100% 93%;
  --orange-200: 33 100% 87%;
  --orange-300: 33 100% 80%;
  --orange-400: 33 100% 69%;
  --orange-500: 33 100% 60%;
  --orange-600: 33 100% 50%;
  --orange-700: 33 100% 40%;
  --orange-800: 33 100% 30%;
  --orange-900: 33 100% 20%;
  --orange-950: 33 100% 10%;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;
  --text-3xl: 2.25rem;
  --text-4xl: 3rem;
  --text-5xl: 3.75rem;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  --height-xs: 1.5rem;
  --height-sm: 2rem;
  --height-md: 2.5rem;
  --shadow-2xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --sidebar: 222.2 84% 4.9%;
  --sidebar-foreground: 210 40% 98%;
  --sidebar-primary: 210 40% 98%;
  --sidebar-primary-foreground: 222.2 47.4% 11.2%;
  --sidebar-accent: 217.2 32.6% 17.5%;
  --sidebar-accent-foreground: 210 40% 98%;
  --sidebar-border: 217.2 32.6% 17.5%;
  --sidebar-ring: 212.7 26.8% 83.9%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

